body {
    background-image:url(download%20(1).jpeg);
}
img {
    height: 500px;
    width: 500px;
}
body {
    background-image: url(pngtree-simple-cartoon-background-design-for-seaside-tourism-vacation-backgroundbeach-backgroundcartoonhand-paintedsimplefresh-image_53279.jpeg);
}