h1 {
    font-family: fantasy;
    text-align: center
    font-size: 40;
}
body {
 background-image: url(27a50e861551fdaa471e51ca9c0f81f98457.jpeg);
}
h3 {
    text-align: center;
}
p {
    font-size: 20px;
    font-family:serif;
    text-align: center;
}